body {
    background-image: url("/resources/cajal-drawing.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
}

/*
Id styling
 */
#title-block {
    margin: 16px;
    paddin: 16px;

    background-color: cornsilk;

    text-align: center;
}
#title-block p {
    font-size: 24pt;
}
#title-block h1 {
    font-size:48pt;
}

#monsanto-paragraph {
    margin: 16pt;
    max-width: 75%;
}

/*
    all modular (non-hierarchical things)
 */
.indent p {
    text-indent: 2em;
}


.item {
    margin: 8px;
    passing: 8px;
}



.blur {
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-radius: 2%;
    border-color: beige;
    border-style: solid;
}

.body-section {
    display: flex;
    flex-direction: column;

    padding: 16px;
    margin: 16px;
}
.body-section p {
    font-size: 16pt;
}
.body-section h1 {
    font-size: 32pt;
}

.vbox {
    margin: 16px;
    padding: 16px;

    display: flex;
    flex-direction: column;

    justify-content: left;
}
.vbox img {
    align-self: center;
}

.hbox {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.hbox .item {
    max-width: 50%;
    width: auto;
    border-sizing: border-box;

}
.hbox .img-wrapper {
    max-width: 50%;
}
.hbox p {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-sizing: border-box;
}
.hbox img {
    width: 100%;
    border-sizing: border-box;
}

.img-wrapper p {
    font-size: 12pt;
}