body {
    background-image: url("/resources/cajal-drawing.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    padding: 16px;
}

br {
    display: block;
    margin-top: 10px;
}

.blur {
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}
.img-wrapper p {
    display: block;
    font-size: 12px;
    max-width: 50%;
    width: auto;
}

.indent p {
    text-indent: 2em;
}

.intro-section {
    text-align: center;
    margin: 16px;
}
.intro-section h1 {
    font-size: 32px;
}
.intro-section p {
    font-size: 16px;
}
.intro-div {
    padding: 16px;

    background: white;

    border: beige solid 1px;
    border-radius: 10px;
}

.body-section {
    text-align: left;
    margin: 16px;
}
.body-section h1 {
    font-size: 28px;
}
.body-section p {
    font-size: 14px;
    min-width: 50%;
}
.body-div {
    margin: 16px;
    padding: 16px;
    border: beige solid 1px;
    border-radius: 10px;
}

.hbox {
    display: flex; /* Enables Flexbox layout */
    flex-grow: 10;
    flex-direction: row;
    justify-content: start; /* Distributes space between items */
    align-items: start; /* Vertically centers items */
}
.hbox p {
    max-width: 50%;
    width: 100%;
}

.hbox img {
    max-width: 50%;
    width: 100%;
}