body {
    background-image: url("/resources/cajal-drawing.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
}

/*
    all modular (non-hierarchical things)
 */
.indent p {
    text-indent: 2em;
}