/*  Constants  */
:root {
    --base-padding: 16px;
}

/*  base tags  */
body {
    background-image: url("/resources/cajal-drawing.png");
    background-repeat: repeat;
    padding: calc(var(--base-padding) / 2);

    font-family: Times New Roman, Times, serif;
}
body p {
    font-size: 16pt;
}
body h1 {
    font-size: 36pt;
}

/*  Base classes  */
.body-div {
    border: 2px solid beige;
    border-radius: 8px;
    padding: calc(var(--base-padding) / 2);
}
.indent p {
    text-indent: 2rem;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.blur {
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.hbox {
    display: flex;
    flex-direction: row;
    gap: var(--base-padding);

    justify-content: space-between;
    align-items: stretch;
}
.img-wrapper img{
    max-width: 100%;
}
.text-wrapper p {
    max-width: 100%;
    height: 100%;
}


.item {
    padding: var(--base-padding);
}


/* specific class */
.img-wrapper1 {
    flex: 1;
}
.text-wrapper1 {
    flex: 2;
}