body {
    background-image: url("/resources/cajal-drawing.png");
    background-repeat: repeat;
    padding: 20px;
}

.hbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

}
.vbox-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex: 1;
    margin: 10px;
    padding: 10px;

    max-width: 100%;
    max-height: 100%;
}