body {
    background-image: url("/resources/cajal-drawing.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

.intro-section {
    padding: 16px;
    text-align: center;
}
.intro-section h1 {
    font-size: 32px;
}
.intro-section p {
    font-size: 16px;
}
.intro-div {
    padding: 16px;

    background: white;

    border: black solid 1px;
    border-radius: 10px;
}

.body-section {
    padding: 16px;
    text-align: left;
}
.body-section h1 {
    font-size: 28px;
}
.body-section p {
    font-size: 14px;
}
.body-div {
    padding: 16px;
    border: black solid 1px;
    border-radius: 10px;
}

.hbox {
    flex-direction: row;
}