body {
    background-image: url("../resources/cajal-drawing.png");
    background-repeat: repeat;
    background-size: auto;

    padding: 32px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.intro-block {
    text-align: center;
    align-content: center;
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    margin: 32px;
}
.intro-block img {
}

.body-block {
    align: center;
    padding: 16px;
    margin: 32px;
}

.prewrap {
    white-space: pre-wrap;     /* preserve whitespace & wrap where needed */
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;   /* optional: use the same font as surrounding text */
    line-height: 1.6;
    margin: 0 0 1em 0;
    overflow-wrap: anywhere;   /* help long words wrap on narrow screens */
}

.half-box {
    width: 50vw;
    max-width: 50vw;

    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-radius: 8px;
    box-sizing: border-box;
}

.full-box {
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-radius: 8px;
    box-sizing: border-box;
}

.title-section h1 {
    align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36pt;
    padding: 16px;
}
.title-section h2 {
    align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28pt;
    padding: 16px;
}

.title-section p {
    align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    padding: 18px;
}

.half-box h3 {
    align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24pt;
    padding: 16px;
}

.half-box p {
    align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    padding: 16px;
}

.full-box h3 {
    align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24pt;
    padding: 16px;
}

.full-box p {
    align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    padding: 16px;
}


